body {
	background-color: #DCDCDD;
	margin: 0%;

}
.body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}
h2 {
	margin: 0;
}
h3 {
	margin: 0;
}

.link-box ul{
	background-color: #29F508;
	width: 200px;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0;
}
.main {
background-color: yellow;
width: 600px;

}
.text-box {
	display: flex;
	flex-direction: row;
}
.image {
	width: 200px;
	height: 150px;
	padding-bottom: 10px;
}
.related {
	background-color: #747574;
	width: 200px;	
}
